<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Member</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
</head>
<body>
		<section class="section">
    <div class="container">
      <h3 class="title">New Member</h3>
        <form th:action="@{/member/create}" method="post">
        	<div class="field">
                <label for="memberId">ID:</label>
                <div class="control">
                <input type="text" id="memberId" name="memberId" class="form-control" style="max-width: 500px;"required/>
         	</div>

				</div>
				<div class="field">
                <label for="joinDate">Join Date:</label>
              	<div class="control">
                <input type="text" id="joinDate" name="joinDate" class="form-control datepicker" style="max-width: 500px;"required/>
         		</div>
				</div>
				<div class="field">
                <label for="password">Password:</label>
                	<div class="control">
                <input type="text" id="password" name="password" class="form-control"style="max-width: 500px;" required/>
          	</div>
				</div>
				<div class="field">
                <label for="phone">Phone Number:</label>
                <div class="control">
                <input type="text" id="phone" name="phone" class="form-control"style="max-width: 500px;" required/>
         		</div>
				</div>
				<div class="field">
                <label for="isWithdraw">Delete Account:</label>
            		<div class="control">
                    <input type="radio" id="withdrawNo" name="isWithdraw" value="NO"style="max-width: 500px;" required checked/>
                    <label for="withdrawNo">NO</label>
            
                    <input type="radio" id="withdrawYes" name="isWithdraw" value="YES"style="max-width: 500px;" required />
                    <label for="withdrawYes">YES</label>
                </div>
            </div>
          	<div class="field is-grouped">
					<div class="control">
            <button type="submit" class="button is-primary">Create</button>
       </div> 
   
        <div class="control">
        <a class="button is-success" href="/member/">Go back to Member List</a>
    </div>
    </div>
	</section>
    <script>
        // Initialize the DatePicker
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd', // 날짜 형식을 지정하세요
                autoclose: true
            });
        });
    </script>
</body>
</html>
